<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rover_description">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import rover_description urdf file -->
    <xacro:include filename="$(find rover_description)/robots/robot.urdf.xacro" />

     <xacro:include filename="rover_description.srdf" />
    <!-- Import control_xacro -->
    <xacro:include filename="rover_description.ros2_control.xacro" />


    <xacro:rover_description_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
